extends ../../../views/main.pug
block stylesheet
    style
        include dailytracker.css
        
block content
    p dailytracker(업무일지)의 테스트 페이지입니다.

block script
    script
        include dailytracker.js

